# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from upstox_client.api_client import ApiClient


class InstrumentsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def search_instrument(self, query, **kwargs):  # noqa: E501
        """Search instruments  # noqa: E501

        This API provides the functionality to retrieve the instrument details for searched query  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_instrument(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object query: natural language query (required)
        :param object exchanges: Comma separated exchanges
        :param object segments: Comma separated segments
        :param object instrument_types: Comma separated instrument types
        :param object expiry: expiry in format: yyyy-MM-dd
        :param object atm_offset: page number greater than or equal to 1
        :param object page_number: ATM offset number for queries like ATM, ATM+1, ATM-1, etc.
        :param object records: no of records in a single page
        :return: SearchInstrumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_instrument_with_http_info(query, **kwargs)  # noqa: E501
        else:
            (data) = self.search_instrument_with_http_info(query, **kwargs)  # noqa: E501
            return data

    def search_instrument_with_http_info(self, query, **kwargs):  # noqa: E501
        """Search instruments  # noqa: E501

        This API provides the functionality to retrieve the instrument details for searched query  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_instrument_with_http_info(query, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object query: natural language query (required)
        :param object exchanges: Comma separated exchanges
        :param object segments: Comma separated segments
        :param object instrument_types: Comma separated instrument types
        :param object expiry: expiry in format: yyyy-MM-dd
        :param object atm_offset: page number greater than or equal to 1
        :param object page_number: ATM offset number for queries like ATM, ATM+1, ATM-1, etc.
        :param object records: no of records in a single page
        :return: SearchInstrumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query', 'exchanges', 'segments', 'instrument_types', 'expiry', 'atm_offset', 'page_number', 'records']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_instrument" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query' is set
        if ('query' not in params or
                params['query'] is None):
            raise ValueError("Missing the required parameter `query` when calling `search_instrument`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501
        if 'exchanges' in params:
            query_params.append(('exchanges', params['exchanges']))  # noqa: E501
        if 'segments' in params:
            query_params.append(('segments', params['segments']))  # noqa: E501
        if 'instrument_types' in params:
            query_params.append(('instrument_types', params['instrument_types']))  # noqa: E501
        if 'expiry' in params:
            query_params.append(('expiry', params['expiry']))  # noqa: E501
        if 'atm_offset' in params:
            query_params.append(('atm_offset', params['atm_offset']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'records' in params:
            query_params.append(('records', params['records']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/instruments/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SearchInstrumentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
