# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from upstox_client.api_client import ApiClient


class IpoApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_ipo_details(self, id, **kwargs):  # noqa: E501
        """Get IPO Details  # noqa: E501

        Fetches detailed information for an IPO by its slug ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ipo_details(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object id: IPO slug ID (required)
        :return: IpoDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ipo_details_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_ipo_details_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_ipo_details_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get IPO Details  # noqa: E501

        Fetches detailed information for an IPO by its slug ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ipo_details_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object id: IPO slug ID (required)
        :return: IpoDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ipo_details" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_ipo_details`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/ipos/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IpoDetailsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_ipo_listing(self, **kwargs):  # noqa: E501
        """Get IPO Listing  # noqa: E501

        Fetches list of IPOs filtered by status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ipo_listing(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: IPO status. Allowed values: open, closed, listed, upcoming
        :param object issue_type: Issue type filter. Allowed values: regular, sme
        :param object page_number: Page number (default: 1)
        :param object records: Number of records per page (default: 20, max: 30)
        :return: IpoListingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_ipo_listing_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_ipo_listing_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_ipo_listing_with_http_info(self, **kwargs):  # noqa: E501
        """Get IPO Listing  # noqa: E501

        Fetches list of IPOs filtered by status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_ipo_listing_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: IPO status. Allowed values: open, closed, listed, upcoming
        :param object issue_type: Issue type filter. Allowed values: regular, sme
        :param object page_number: Page number (default: 1)
        :param object records: Number of records per page (default: 20, max: 30)
        :return: IpoListingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status', 'issue_type', 'page_number', 'records']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_ipo_listing" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'issue_type' in params:
            query_params.append(('issue_type', params['issue_type']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'records' in params:
            query_params.append(('records', params['records']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/ipos', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IpoListingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
