# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from upstox_client.api_client import ApiClient


class MarketApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_change_oi_data(self, instrument_key, expiry, _date, interval, **kwargs):  # noqa: E501
        """Get Change in OI Data  # noqa: E501

        Fetches change in OI data for the given instrument key, expiry, date and interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_change_oi_data(instrument_key, expiry, _date, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which change OI data is required (required)
        :param object interval: Number of days for which difference in OI is required (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_change_oi_data_with_http_info(instrument_key, expiry, _date, interval, **kwargs)  # noqa: E501
        else:
            (data) = self.get_change_oi_data_with_http_info(instrument_key, expiry, _date, interval, **kwargs)  # noqa: E501
            return data

    def get_change_oi_data_with_http_info(self, instrument_key, expiry, _date, interval, **kwargs):  # noqa: E501
        """Get Change in OI Data  # noqa: E501

        Fetches change in OI data for the given instrument key, expiry, date and interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_change_oi_data_with_http_info(instrument_key, expiry, _date, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which change OI data is required (required)
        :param object interval: Number of days for which difference in OI is required (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['instrument_key', 'expiry', '_date', 'interval']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_change_oi_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'instrument_key' is set
        if ('instrument_key' not in params or
                params['instrument_key'] is None):
            raise ValueError("Missing the required parameter `instrument_key` when calling `get_change_oi_data`")  # noqa: E501
        # verify the required parameter 'expiry' is set
        if ('expiry' not in params or
                params['expiry'] is None):
            raise ValueError("Missing the required parameter `expiry` when calling `get_change_oi_data`")  # noqa: E501
        # verify the required parameter '_date' is set
        if ('_date' not in params or
                params['_date'] is None):
            raise ValueError("Missing the required parameter `_date` when calling `get_change_oi_data`")  # noqa: E501
        # verify the required parameter 'interval' is set
        if ('interval' not in params or
                params['interval'] is None):
            raise ValueError("Missing the required parameter `interval` when calling `get_change_oi_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'instrument_key' in params:
            query_params.append(('instrument_key', params['instrument_key']))  # noqa: E501
        if 'expiry' in params:
            query_params.append(('expiry', params['expiry']))  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501
        if 'interval' in params:
            query_params.append(('interval', params['interval']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/change-oi', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_dii_data(self, data_type, interval, **kwargs):  # noqa: E501
        """Get DII Data  # noqa: E501

        Fetches DII activity data for the given interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dii_data(data_type, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object data_type: Data type. Allowed value: NSE_EQ|CASH (required)
        :param object interval: Interval. Allowed values: 1D, 1M (required)
        :param object _from: Start date in YYYY-MM-DD format (optional)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_dii_data_with_http_info(data_type, interval, **kwargs)  # noqa: E501
        else:
            (data) = self.get_dii_data_with_http_info(data_type, interval, **kwargs)  # noqa: E501
            return data

    def get_dii_data_with_http_info(self, data_type, interval, **kwargs):  # noqa: E501
        """Get DII Data  # noqa: E501

        Fetches DII activity data for the given interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_dii_data_with_http_info(data_type, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object data_type: Data type. Allowed value: NSE_EQ|CASH (required)
        :param object interval: Interval. Allowed values: 1D, 1M (required)
        :param object _from: Start date in YYYY-MM-DD format (optional)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['data_type', 'interval', '_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_dii_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'data_type' is set
        if ('data_type' not in params or
                params['data_type'] is None):
            raise ValueError("Missing the required parameter `data_type` when calling `get_dii_data`")  # noqa: E501
        # verify the required parameter 'interval' is set
        if ('interval' not in params or
                params['interval'] is None):
            raise ValueError("Missing the required parameter `interval` when calling `get_dii_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'data_type' in params:
            query_params.append(('data_type', params['data_type']))  # noqa: E501
        if 'interval' in params:
            query_params.append(('interval', params['interval']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/dii', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_fii_data(self, data_type, interval, **kwargs):  # noqa: E501
        """Get FII Data  # noqa: E501

        Fetches FII activity data for the given data type and interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fii_data(data_type, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object data_type: Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
        :param object interval: Interval. Allowed values: 1D, 1M (required)
        :param object _from: Start date in YYYY-MM-DD format (optional)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_fii_data_with_http_info(data_type, interval, **kwargs)  # noqa: E501
        else:
            (data) = self.get_fii_data_with_http_info(data_type, interval, **kwargs)  # noqa: E501
            return data

    def get_fii_data_with_http_info(self, data_type, interval, **kwargs):  # noqa: E501
        """Get FII Data  # noqa: E501

        Fetches FII activity data for the given data type and interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_fii_data_with_http_info(data_type, interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object data_type: Data type. Allowed values: NSE_FO|INDEX_FUTURES, NSE_FO|STOCK_FUTURES, NSE_FO|INDEX_OPTIONS, NSE_FO|STOCK_OPTIONS, NSE_EQ|CASH (required)
        :param object interval: Interval. Allowed values: 1D, 1M (required)
        :param object _from: Start date in YYYY-MM-DD format (optional)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['data_type', 'interval', '_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_fii_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'data_type' is set
        if ('data_type' not in params or
                params['data_type'] is None):
            raise ValueError("Missing the required parameter `data_type` when calling `get_fii_data`")  # noqa: E501
        # verify the required parameter 'interval' is set
        if ('interval' not in params or
                params['interval'] is None):
            raise ValueError("Missing the required parameter `interval` when calling `get_fii_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'data_type' in params:
            query_params.append(('data_type', params['data_type']))  # noqa: E501
        if 'interval' in params:
            query_params.append(('interval', params['interval']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/fii', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_max_pain_data(self, instrument_key, expiry, _date, bucket_interval, **kwargs):  # noqa: E501
        """Get Max Pain Data  # noqa: E501

        Fetches Max Pain data for the given instrument key, expiry, date and bucket interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_max_pain_data(instrument_key, expiry, _date, bucket_interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which Max Pain data is required (required)
        :param object bucket_interval: Bucket interval in minutes for the insights list (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_max_pain_data_with_http_info(instrument_key, expiry, _date, bucket_interval, **kwargs)  # noqa: E501
        else:
            (data) = self.get_max_pain_data_with_http_info(instrument_key, expiry, _date, bucket_interval, **kwargs)  # noqa: E501
            return data

    def get_max_pain_data_with_http_info(self, instrument_key, expiry, _date, bucket_interval, **kwargs):  # noqa: E501
        """Get Max Pain Data  # noqa: E501

        Fetches Max Pain data for the given instrument key, expiry, date and bucket interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_max_pain_data_with_http_info(instrument_key, expiry, _date, bucket_interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which Max Pain data is required (required)
        :param object bucket_interval: Bucket interval in minutes for the insights list (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['instrument_key', 'expiry', '_date', 'bucket_interval']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_max_pain_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'instrument_key' is set
        if ('instrument_key' not in params or
                params['instrument_key'] is None):
            raise ValueError("Missing the required parameter `instrument_key` when calling `get_max_pain_data`")  # noqa: E501
        # verify the required parameter 'expiry' is set
        if ('expiry' not in params or
                params['expiry'] is None):
            raise ValueError("Missing the required parameter `expiry` when calling `get_max_pain_data`")  # noqa: E501
        # verify the required parameter '_date' is set
        if ('_date' not in params or
                params['_date'] is None):
            raise ValueError("Missing the required parameter `_date` when calling `get_max_pain_data`")  # noqa: E501
        # verify the required parameter 'bucket_interval' is set
        if ('bucket_interval' not in params or
                params['bucket_interval'] is None):
            raise ValueError("Missing the required parameter `bucket_interval` when calling `get_max_pain_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'instrument_key' in params:
            query_params.append(('instrument_key', params['instrument_key']))  # noqa: E501
        if 'expiry' in params:
            query_params.append(('expiry', params['expiry']))  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501
        if 'bucket_interval' in params:
            query_params.append(('bucket_interval', params['bucket_interval']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/max-pain', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_oi_data(self, instrument_key, expiry, _date, **kwargs):  # noqa: E501
        """Get OI Data  # noqa: E501

        Fetches OI data for the given instrument key, expiry and date.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_oi_data(instrument_key, expiry, _date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which OI data is required (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_oi_data_with_http_info(instrument_key, expiry, _date, **kwargs)  # noqa: E501
        else:
            (data) = self.get_oi_data_with_http_info(instrument_key, expiry, _date, **kwargs)  # noqa: E501
            return data

    def get_oi_data_with_http_info(self, instrument_key, expiry, _date, **kwargs):  # noqa: E501
        """Get OI Data  # noqa: E501

        Fetches OI data for the given instrument key, expiry and date.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_oi_data_with_http_info(instrument_key, expiry, _date, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which OI data is required (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['instrument_key', 'expiry', '_date']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_oi_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'instrument_key' is set
        if ('instrument_key' not in params or
                params['instrument_key'] is None):
            raise ValueError("Missing the required parameter `instrument_key` when calling `get_oi_data`")  # noqa: E501
        # verify the required parameter 'expiry' is set
        if ('expiry' not in params or
                params['expiry'] is None):
            raise ValueError("Missing the required parameter `expiry` when calling `get_oi_data`")  # noqa: E501
        # verify the required parameter '_date' is set
        if ('_date' not in params or
                params['_date'] is None):
            raise ValueError("Missing the required parameter `_date` when calling `get_oi_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'instrument_key' in params:
            query_params.append(('instrument_key', params['instrument_key']))  # noqa: E501
        if 'expiry' in params:
            query_params.append(('expiry', params['expiry']))  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/oi', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_pcr_data(self, instrument_key, expiry, _date, bucket_interval, **kwargs):  # noqa: E501
        """Get PCR Data  # noqa: E501

        Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pcr_data(instrument_key, expiry, _date, bucket_interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which PCR data is required (required)
        :param object bucket_interval: Bucket interval in minutes for the insights list (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_pcr_data_with_http_info(instrument_key, expiry, _date, bucket_interval, **kwargs)  # noqa: E501
        else:
            (data) = self.get_pcr_data_with_http_info(instrument_key, expiry, _date, bucket_interval, **kwargs)  # noqa: E501
            return data

    def get_pcr_data_with_http_info(self, instrument_key, expiry, _date, bucket_interval, **kwargs):  # noqa: E501
        """Get PCR Data  # noqa: E501

        Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_pcr_data_with_http_info(instrument_key, expiry, _date, bucket_interval, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object instrument_key: Underlying asset instrument key (required)
        :param object expiry: Expiry date in YYYY-MM-DD format (required)
        :param object _date: Date in YYYY-MM-DD format for which PCR data is required (required)
        :param object bucket_interval: Bucket interval in minutes for the insights list (required)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['instrument_key', 'expiry', '_date', 'bucket_interval']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_pcr_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'instrument_key' is set
        if ('instrument_key' not in params or
                params['instrument_key'] is None):
            raise ValueError("Missing the required parameter `instrument_key` when calling `get_pcr_data`")  # noqa: E501
        # verify the required parameter 'expiry' is set
        if ('expiry' not in params or
                params['expiry'] is None):
            raise ValueError("Missing the required parameter `expiry` when calling `get_pcr_data`")  # noqa: E501
        # verify the required parameter '_date' is set
        if ('_date' not in params or
                params['_date'] is None):
            raise ValueError("Missing the required parameter `_date` when calling `get_pcr_data`")  # noqa: E501
        # verify the required parameter 'bucket_interval' is set
        if ('bucket_interval' not in params or
                params['bucket_interval'] is None):
            raise ValueError("Missing the required parameter `bucket_interval` when calling `get_pcr_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'instrument_key' in params:
            query_params.append(('instrument_key', params['instrument_key']))  # noqa: E501
        if 'expiry' in params:
            query_params.append(('expiry', params['expiry']))  # noqa: E501
        if '_date' in params:
            query_params.append(('date', params['_date']))  # noqa: E501
        if 'bucket_interval' in params:
            query_params.append(('bucket_interval', params['bucket_interval']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/pcr', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_smartlist_futures(self, **kwargs):  # noqa: E501
        """Get Smartlist Futures  # noqa: E501

        Fetches the smartlist of futures for the given asset type and category.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_futures(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object asset_type: Asset type. Allowed values: INDEX, STOCK, COMMODITY
        :param object category: Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_smartlist_futures_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_smartlist_futures_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_smartlist_futures_with_http_info(self, **kwargs):  # noqa: E501
        """Get Smartlist Futures  # noqa: E501

        Fetches the smartlist of futures for the given asset type and category.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_futures_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object asset_type: Asset type. Allowed values: INDEX, STOCK, COMMODITY
        :param object category: Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_type', 'category', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_smartlist_futures" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'asset_type' in params:
            query_params.append(('asset_type', params['asset_type']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/smartlist/futures', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_smartlist_mtf(self, **kwargs):  # noqa: E501
        """Get Smartlist MTF  # noqa: E501

        Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_mtf(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_smartlist_mtf_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_smartlist_mtf_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_smartlist_mtf_with_http_info(self, **kwargs):  # noqa: E501
        """Get Smartlist MTF  # noqa: E501

        Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_mtf_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_smartlist_mtf" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/smartlist/mtf', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_smartlist_options(self, **kwargs):  # noqa: E501
        """Get Smartlist Options  # noqa: E501

        Fetches the smartlist of options for the given asset type and category.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_options(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object asset_type: Asset type. Allowed values: INDEX, STOCK, COMMODITY
        :param object category: Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_smartlist_options_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_smartlist_options_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_smartlist_options_with_http_info(self, **kwargs):  # noqa: E501
        """Get Smartlist Options  # noqa: E501

        Fetches the smartlist of options for the given asset type and category.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_smartlist_options_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object asset_type: Asset type. Allowed values: INDEX, STOCK, COMMODITY
        :param object category: Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)
        :param object page_number: Page number (optional, 1-indexed)
        :param object page_size: Page size (optional, max 50)
        :return: AnalyticsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['asset_type', 'category', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_smartlist_options" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'asset_type' in params:
            query_params.append(('asset_type', params['asset_type']))  # noqa: E501
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/market/smartlist/options', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AnalyticsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
