# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from upstox_client.api_client import ApiClient


class MutualFundApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_mutual_fund_holdings(self, **kwargs):  # noqa: E501
        """Get mutual fund holdings  # noqa: E501

        Returns mutual fund holdings for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_holdings(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetMutualFundHoldingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_mutual_fund_holdings_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_mutual_fund_holdings_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_mutual_fund_holdings_with_http_info(self, **kwargs):  # noqa: E501
        """Get mutual fund holdings  # noqa: E501

        Returns mutual fund holdings for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_holdings_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GetMutualFundHoldingsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mutual_fund_holdings" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/mf/holdings', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetMutualFundHoldingsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_mutual_fund_order(self, order_id, **kwargs):  # noqa: E501
        """Get mutual fund order by id  # noqa: E501

        Returns a single mutual fund order by order id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_order(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object order_id: Mutual fund order id (required)
        :return: GetMutualFundOrderDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_mutual_fund_order_with_http_info(order_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_mutual_fund_order_with_http_info(order_id, **kwargs)  # noqa: E501
            return data

    def get_mutual_fund_order_with_http_info(self, order_id, **kwargs):  # noqa: E501
        """Get mutual fund order by id  # noqa: E501

        Returns a single mutual fund order by order id.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_order_with_http_info(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object order_id: Mutual fund order id (required)
        :return: GetMutualFundOrderDetailsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mutual_fund_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if ('order_id' not in params or
                params['order_id'] is None):
            raise ValueError("Missing the required parameter `order_id` when calling `get_mutual_fund_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['order_id'] = params['order_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/mf/orders/{order_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetMutualFundOrderDetailsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_mutual_fund_orders(self, **kwargs):  # noqa: E501
        """Get mutual fund orders  # noqa: E501

        Returns mutual fund orders from the last 7 days for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_orders(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: Mutual fund order status
        :param object transaction_type: Mutual fund order transaction type
        :param object page_number: Page number for pagination.
        :param object records: no of records in a single page
        :return: GetMutualFundOrdersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_mutual_fund_orders_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_mutual_fund_orders_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_mutual_fund_orders_with_http_info(self, **kwargs):  # noqa: E501
        """Get mutual fund orders  # noqa: E501

        Returns mutual fund orders from the last 7 days for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_orders_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object status: Mutual fund order status
        :param object transaction_type: Mutual fund order transaction type
        :param object page_number: Page number for pagination.
        :param object records: no of records in a single page
        :return: GetMutualFundOrdersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status', 'transaction_type', 'page_number', 'records']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mutual_fund_orders" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'status' in params:
            query_params.append(('status', params['status']))  # noqa: E501
        if 'transaction_type' in params:
            query_params.append(('transaction_type', params['transaction_type']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'records' in params:
            query_params.append(('records', params['records']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/mf/orders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetMutualFundOrdersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_mutual_fund_sips(self, **kwargs):  # noqa: E501
        """Get mutual fund SIPs  # noqa: E501

        Returns active and paused SIP orders for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_sips(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object page_number: Page number for pagination.
        :param object records: no of records in a single page
        :return: GetMutualFundSipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_mutual_fund_sips_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_mutual_fund_sips_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_mutual_fund_sips_with_http_info(self, **kwargs):  # noqa: E501
        """Get mutual fund SIPs  # noqa: E501

        Returns active and paused SIP orders for the authenticated user.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_mutual_fund_sips_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object page_number: Page number for pagination.
        :param object records: no of records in a single page
        :return: GetMutualFundSipsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_number', 'records']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_mutual_fund_sips" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'records' in params:
            query_params.append(('records', params['records']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/mf/sips', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetMutualFundSipsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
