# coding: utf-8

"""
    OpenAPI definition

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from upstox_client.api_client import ApiClient


class NewsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_news(self, category, **kwargs):  # noqa: E501
        """Get News  # noqa: E501

        Fetches news articles for the given instrument keys, or the user's current positions or holdings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_news(category, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object category: Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
        :param object instrument_keys: Comma-separated list of instrument keys. Required when category is instrument_keys.
        :param object page_number: Page number for pagination
        :param object page_size: Number of records per page
        :return: GetNewsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_news_with_http_info(category, **kwargs)  # noqa: E501
        else:
            (data) = self.get_news_with_http_info(category, **kwargs)  # noqa: E501
            return data

    def get_news_with_http_info(self, category, **kwargs):  # noqa: E501
        """Get News  # noqa: E501

        Fetches news articles for the given instrument keys, or the user's current positions or holdings.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_news_with_http_info(category, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param object category: Category of news to fetch. Allowed values: instrument_keys, positions, holdings (required)
        :param object instrument_keys: Comma-separated list of instrument keys. Required when category is instrument_keys.
        :param object page_number: Page number for pagination
        :param object page_size: Number of records per page
        :return: GetNewsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['category', 'instrument_keys', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_news" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'category' is set
        if ('category' not in params or
                params['category'] is None):
            raise ValueError("Missing the required parameter `category` when calling `get_news`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'category' in params:
            query_params.append(('category', params['category']))  # noqa: E501
        if 'instrument_keys' in params:
            query_params.append(('instrument_keys', params['instrument_keys']))  # noqa: E501
        if 'page_number' in params:
            query_params.append(('page_number', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('page_size', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['*/*', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAUTH2']  # noqa: E501

        return self.api_client.call_api(
            '/v2/news', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetNewsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
