on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - main
    paths:
      - .github/workflows/semgrep.yml
  schedule:
    # random HH:MM to avoid a load spike on GitHub Actions at 00:00
    - cron: '45 13 * * *'

name: Semgrep

jobs:
  semgrep:
    name: semgrep/ci
    runs-on: ubuntu-24.04
    env:
      SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
    container:
      image: returntocorp/semgrep
    steps:
      - uses: actions/checkout@v3
      - run: |
          echo "Running semgrep"
          semgrep ci

  approve:
    name: Approve PR if Semgrep passes
    runs-on: ubuntu-24.04
    needs: semgrep
    steps:
      - name: Setup GitHub CLI
        uses: actions/checkout@v3
      - name: Approve PR
        if: success()
        run: gh pr review --approve "${{ github.event.pull_request.html_url }}"
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_SECURITYREVIEWUSER }}
